.dialog-title {
    text-align: center;
  }
  
  .dialog-content {
    text-align: center;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: space-between;
  
    button {
      &:first-child {
        margin-right: auto;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
  